Repository TreshAnn/POC-EyCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-ui

.lintstagedrc:

{
  "apps/api/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-be"],
  "apps/web/**/*.{js,ts,tsx}": ["pnpm run format"],
  "packages/ui/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-ui"],
  "*.json": ["pnpm run format"]
}

chore(backend): add http post method for auth.controller and create method for auth.service
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): move userType to auth.schema
  apps/api/src/merchants/schemas/merchant.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): modify userType validation
  apps/api/src/merchants/dto/create-merchant.dto.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add userType in auth.dto and auth.schema
  apps/api/src/auth/dto/auth.dto.ts
  apps/api/src/auth/schemas/auth.schema.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): modify create method for merchant.service
  apps/api/src/merchants/merchants.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(back-end)--add-product-schema
  apps/api/package.json
  apps/api/src/products/schemas/products.schema.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm lint-stage-be

fix(backend): remove username prop option to avoid duplicate index creation
  apps/api/src/auth/schemas/auth.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): create auth schema for username, email, password
  apps/api/src/auth/schema/auth.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): create auth.dto
  apps/api/src/auth/dto/auth.dto.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add auth.service create method
  apps/api/src/auth/auth.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): import AuthSchema and make AuthModule as forwardRef module to UsersModule
  apps/api/src/auth/auth.module.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): make UsersModule forwardRef to AuthModule
  apps/api/src/users/users.module.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add http post method
  apps/api/src/auth/auth.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): modify user schema and user dto
  apps/api/src/users/dto/create-user.dto.ts
  apps/api/src/users/schemas/user.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): create User API
  apps/api/src/users/users.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(back-end)--add-product-schema
  apps/api/src/products/schemas/products.schema.ts
Due: pnpm run format, pnpm lint-stage-be

feat: Header Bar v2.0
  apps/web/app/page.tsx
  packages/ui/header/Header.tsx
  packages/ui/header/Header_old.tsx
  packages/ui/header/header_old.css
Due: pnpm run format, pnpm lint-stage-ui

chore: Added mantine/hooks
  packages/ui/package.json
Due: pnpm run format

chore(backend): modify imports
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/schema/auth.schema.ts
  apps/api/src/merchants/schemas/merchant.schema.ts
  apps/api/src/users/schemas/user.schema.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): remove email validation
  apps/api/src/auth/schemas/auth.schema.ts
Due: pnpm run format, pnpm lint-stage-be

feat(backend): add read merchant API
  apps/api/src/merchants/merchants.controller.ts
  apps/api/src/merchants/merchants.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add http status code
  apps/api/src/merchants/merchants.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add validation to handle non-existent merchant
  apps/api/src/merchants/merchants.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): modify imports
  apps/api/src/auth/auth.module.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): modify import and remove email validator
  apps/api/src/auth/schemas/auth.schema.ts
Due: pnpm run format, pnpm lint-stage-be

feat(backend): add Read User API
  apps/api/src/auth/schema/auth.schema.ts
  apps/api/src/users/schemas/user.schema.ts
  apps/api/src/users/users.controller.ts
  apps/api/src/users/users.service.ts
Due: pnpm run format, pnpm lint-stage-be

feat: Added Footer
  apps/web/app/page.tsx
  apps/web/app/style.css
  packages/ui/footer/Footer.tsx
  packages/ui/footer/footer.css
  packages/ui/index.tsx
Due: pnpm run format, pnpm lint-stage-ui

feat(back-end): add service for delete user
  apps/api/src/users/users.service.ts
Due: pnpm run format, pnpm lint-stage-be

feat(back-end): add remove user controller
  apps/api/src/users/users.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore(back-end): add delete for auth
  apps/api/src/auth/auth.service.ts
  apps/api/src/users/users.controller.ts
  apps/api/src/users/users.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix(back end): add success message for delete
  apps/api/src/users/users.controller.ts
Due: pnpm run format, pnpm lint-stage-be

feat: add footer jsx and css
  packages/ui/footer/Footer.jsx
  packages/ui/footer/footer.css
Due: none

chore: add footer in page.tsx
  apps/web/app/page.tsx
  packages/ui/index.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore(back-end): add exception for not existing user
  apps/api/src/users/users.service.ts
Due: pnpm run format, pnpm lint-stage-be

feat(backend): add Update User API
  apps/api/src/users/users.controller.ts
  apps/api/src/users/users.service.ts
Due: pnpm run format, pnpm lint-stage-be

feat(backend): add Update Merchant API
  apps/api/src/merchants/merchants.controller.ts
  apps/api/src/merchants/merchants.service.ts
Due: pnpm run format, pnpm lint-stage-be

feat: Login UI
  apps/web/app/login/login.css
  apps/web/app/login/page.tsx
Due: pnpm run format

chore: nav header and footer margins
  packages/ui/footer/footer.css
  packages/ui/header/Header.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore: layout for header and footer
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
Due: pnpm run format
