Repository TreshAnn/POC-EyCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe, pnpm lint-stage-ui

.lintstagedrc:

{
  "apps/api/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-be"],
  "apps/web/**/*.{js,ts,tsx}": ["pnpm lint-stage-fe"],
  "packages/ui/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-ui"]
}

chore(frontend): add media queries for responsive design
  packages/ui/rating/rating.tsx
  packages/ui/rating/style.ts
Due: pnpm run format, pnpm lint-stage-ui

refactor: Object passed to text field
  packages/ui/Card/AddressCard.tsx
Due: pnpm run format, pnpm lint-stage-ui

fix(frontend): Implement responsive design adjustments
  packages/ui/product-info/productInfo.tsx
  packages/ui/product-info/style.ts
Due: pnpm run format, pnpm lint-stage-ui

chore(fronted): modify quantity component
  packages/ui/quantity/Quantity.tsx
  packages/ui/quantity/style.ts
Due: pnpm run format, pnpm lint-stage-ui

chore(front-end): remove comments and replaced dropdown
  packages/ui/nav/Header.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore(front-end): separate in-line styles
  packages/ui/cart/HeaderCart.tsx
  packages/ui/cart/styles.ts
Due: pnpm run format, pnpm lint-stage-ui

chore(frontend): handle number input
  packages/ui/quantity/Quantity.tsx
  packages/ui/quantity/style.ts
Due: pnpm run format, pnpm lint-stage-ui

chore(frontend): add right rating component
  packages/ui/rating/rating.tsx
  packages/ui/rating/style.ts
Due: pnpm run format, pnpm lint-stage-ui

chore(backend): modify quantity component
  packages/ui/quantity/Quantity.tsx
  packages/ui/quantity/style.ts
Due: pnpm run format, pnpm lint-stage-ui

chore(frontend): add product gallery component
  packages/ui/package.json
  packages/ui/product-gallery/productGallery.tsx
  packages/ui/product-gallery/style.ts
Due: pnpm run format, pnpm lint-stage-ui

chore(frontend): add product gallery component for testing
  apps/web/src/views/SampleView.tsx
Due: pnpm lint-stage-fe

feat: checkout Order
  apps/web/src/components/auth/Checkout.tsx
  packages/ui/Card/OrderSummary.tsx
  packages/ui/index.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore: remove cart dropdown on smaller screens, to add redirect to cart page
  packages/ui/nav/Header.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore(front-end): apply quantity component, fix autoclose of menu, remove quantity in sampleView
  apps/web/src/views/SampleView.tsx
  packages/ui/cart/Cart.tsx
  packages/ui/cart/HeaderCart.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore(frontend): modify media queries for responsive design
  packages/ui/rating/rating.tsx
  packages/ui/rating/style.ts
Due: pnpm run format, pnpm lint-stage-ui

modify(frontend): resize quantity
  packages/ui/quantity/style.ts
Due: pnpm run format, pnpm lint-stage-ui

chore(front-end): create views and files
  apps/web/src/views/CartView.tsx
  apps/web/src/views/RootView.tsx
  packages/ui/cart_temp/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

Update packages/ui/quantity/style.ts
  packages/ui/quantity/style.ts
Due: pnpm run format, pnpm lint-stage-ui

Done creating component for user review
  packages/ui/rating/user-review/Rating.tsx
  packages/ui/rating/user-review/UserReview.tsx
  packages/ui/rating/user-review/style.ts
Due: pnpm run format, pnpm lint-stage-ui

add fe payment details
  apps/web/src/components/auth/Checkout.tsx
  packages/ui/Card/PaymentDetails.tsx
  packages/ui/Card/style.ts
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix(frontend): add copyright symbol
  apps/web/src/views/RootView.tsx
  packages/ui/nav/Footer.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix(frontend): adjust height for smaller screen size
  packages/ui/product-gallery/style.ts
Due: pnpm run format, pnpm lint-stage-ui

[Frontend] User Rating and Comment Component
  apps/web/src/views/SampleView.tsx
  packages/ui/rating/user-review/UserReview.tsx
  packages/ui/rating/user-review/style.ts
  packages/ui/rating/user-review/test-data.ts
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix(frontend): modify styled-omponents for responsive design
  packages/ui/product-info/productInfo.tsx
  packages/ui/product-info/style.ts
Due: pnpm run format, pnpm lint-stage-ui

wip(frontend): order summary
  packages/ui/Card/OrderSummary.tsx
  packages/ui/Card/PaymentDetails.tsx
Due: pnpm run format, pnpm lint-stage-ui

fix: removed css style width: 100vh on SampleView file
  apps/web/src/views/SampleView.tsx
Due: pnpm lint-stage-fe

chore(backend): fix double rendering of payment details
  apps/web/src/components/auth/Checkout.tsx
  packages/ui/Card/OrderSummary.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore(frontend): fix payment details
  packages/ui/Card/OrderSummary.tsx
  packages/ui/Card/PaymentDetails.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore(frontend): modify payment details font weight
  packages/ui/Card/PaymentDetails.tsx
Due: pnpm run format, pnpm lint-stage-ui

Update packages/ui/Card/OrderSummary.tsx
  packages/ui/Card/OrderSummary.tsx
Due: pnpm run format, pnpm lint-stage-ui

Update packages/ui/Card/PaymentDetails.tsx
  packages/ui/Card/PaymentDetails.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore(frontend): remove unnecessary comments
  packages/ui/rating/rating.tsx
Due: pnpm run format, pnpm lint-stage-ui

fix(backend): add validation for quantity based on productInventory
  apps/api/src/cart/cart.controller.ts
  apps/api/src/cart/cart.service.ts
  apps/api/src/cart/dto/item.dto.ts
Due: pnpm run format, pnpm lint-stage-be

import button
  packages/ui/Card/OrderSummary.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore(front-end): moved sample cart object
  packages/ui/nav/Header.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore(front-end): applied dynamic quantity prop and handler to quantity component
  packages/ui/cart/Cart.tsx
  packages/ui/cart/HeaderCart.tsx
  packages/ui/quantity/Quantity.tsx
Due: pnpm run format, pnpm lint-stage-ui

[Backend] Login attempt: Return custom status code and error message
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/utils/service/custom-error.service.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm lint-stage-be

removed console log
  apps/api/src/auth/auth.service.ts
Due: pnpm run format, pnpm lint-stage-be
