Repository TreshAnn/POC-EyCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe, pnpm lint-stage-ui

.lintstagedrc:

{
  "apps/api/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-be"],
  "apps/web/**/*.{js,ts,tsx}": ["pnpm lint-stage-fe"],
  "packages/ui/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-ui"]
}

addition of isActive
  apps/api/src/products/schemas/products.schema.ts
Due: pnpm run format, pnpm lint-stage-be

deletion of cloned product schema
  apps/api/src/auth/product/schema/producs.schema.ts
Due: pnpm run format, pnpm lint-stage-be

addition of deactivate-activate product httpcode
  apps/api/src/products/products.controller.ts
Due: pnpm run format, pnpm lint-stage-be

addition of deactivate-activate product API
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add Read Cart API
  apps/api/src/cart/cart.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add Delete individual item API
  apps/api/src/cart/cart.controller.ts
  apps/api/src/cart/cart.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): utilize access token for user identification
  apps/api/src/cart/cart.controller.ts
Due: pnpm run format, pnpm lint-stage-be

modify(backend): modify delete cart api
  apps/api/src/cart/cart.controller.ts
  apps/api/src/cart/cart.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix(frontend): modify Register form
  apps/web/src/components/auth/RegisterForm.tsx
Due: pnpm lint-stage-fe

fix(frontend): modified footer based on QA suggestions
  apps/web/src/views/SampleView.tsx
  packages/ui/nav/Footer.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix(backend): fix delete cart
  apps/api/src/cart/cart.controller.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): utilize access token for user identification
  apps/api/src/cart/cart.controller.ts
Due: pnpm run format, pnpm lint-stage-be

fix(front-end): add onInput handler to TextInput of username
  apps/web/src/components/auth/LoginForm.tsx
Due: pnpm lint-stage-fe

wip(backend): error handling
  apps/api/src/cart/cart.service.ts
Due: pnpm run format, pnpm lint-stage-be

Commit before applying changes to the middleware
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.guard.ts
  apps/api/src/guards/enum/role.enum.ts
  apps/api/src/middleware/auth.middleware.ts
  apps/api/src/users/users.controller.ts
  apps/api/src/users/users.module.ts
Due: pnpm run format, pnpm lint-stage-be

fix(front-end): import global font used in theme
  apps/web/src/styles/index.css
Due: none

[Fix][Refactor]-Backend: Fix role.enum.ts object value; USER >>> CONSUMER; Refactor the authguar.ts and remove the auth middleware
  apps/api/src/app.module.ts
  apps/api/src/auth/ability/ability.decorator.ts
  apps/api/src/auth/auth.guard.ts
  apps/api/src/users/users.controller.ts
Due: pnpm run format, pnpm lint-stage-be

Feat: Register Implementation
  apps/web/src/components/auth/RegisterForm.tsx
  apps/web/src/lib/auth.ts
  apps/web/src/views/Register/RegisterView.tsx
  apps/web/src/views/RootView.tsx
  apps/web/src/views/auth/api/index.ts
  apps/web/src/views/auth/api/register.ts
  apps/web/src/views/auth/pages/RegisterView.tsx
Due: pnpm lint-stage-fe

chore(backend): hash user password stored in db
  apps/api/src/users/users.service.ts
Due: pnpm run format, pnpm lint-stage-be

WIP(bakend): delete cart api
  apps/api/src/cart/cart.controller.ts
  apps/api/src/cart/cart.service.ts
Due: pnpm run format, pnpm lint-stage-be

wip(backend): delete cart api
  apps/api/src/cart/cart.controller.ts
  apps/api/src/cart/cart.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore: usertype Dropdown
  apps/web/src/components/auth/RegisterForm.tsx
Due: pnpm lint-stage-fe

Revert "[API] Register API Implementation"
  apps/api/src/users/users.service.ts
  apps/web/src/components/auth/RegisterForm.tsx
  apps/web/src/lib/auth.ts
  apps/web/src/views/Register/RegisterView.tsx
  apps/web/src/views/RootView.tsx
  apps/web/src/views/auth/api/index.ts
  apps/web/src/views/auth/api/register.ts
  apps/web/src/views/auth/pages/RegisterView.tsx
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe

added condition for read product
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): Use validateQuantity method for quantity validation
  apps/api/src/cart/cart.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): delete console.log in cart.service
  apps/api/src/cart/cart.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix: import and merge conflicts
  apps/api/src/cart/cart.controller.ts
  apps/web/src/components/auth/LoginForm.tsx
  apps/web/src/components/auth/RegisterForm.tsx
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe

chore(fe): import product and searchbar component
  apps/web/src/views/SampleView.tsx
Due: pnpm lint-stage-fe

fix: develop for demo
  apps/api/src/products/products.service.ts
  apps/web/public/product1.jpg
  apps/web/src/views/SampleView.tsx
  apps/web/src/views/auth/pages/LoginView.tsx
  packages/ui/nav/Footer.tsx
  packages/ui/product/Product.tsx
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe, pnpm lint-stage-ui

fix: Register Form Redirect
  apps/web/src/components/auth/RegisterForm.tsx
Due: pnpm lint-stage-fe

feat(frontend): chore create quantity component
  apps/web/src/views/SampleView.tsx
  packages/ui/quantity/Quantity.tsx
  packages/ui/quantity/style.ts
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore(frontend): add product-info component
  packages/ui/product-info/productInfo.tsx
  packages/ui/product-info/style.ts
Due: pnpm run format, pnpm lint-stage-ui

chore(frontend): import productInfo for testing
  apps/web/src/views/SampleView.tsx
Due: pnpm lint-stage-fe

feat: Checkout Shipping Details Card
  apps/web/src/components/auth/Checkout.tsx
  apps/web/src/views/SampleView.tsx
  packages/ui/Card/AddressCard.tsx
  packages/ui/index.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix: Title & Content font-size
  packages/ui/Card/AddressCard.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore(frontend): add left rating component
  packages/ui/rating/rating.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore(front-end): create cart component for header dropdown
  packages/ui/cart/Cart.tsx
  packages/ui/cart/HeaderCart.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore(frontend): add styled-components for left rating component
  packages/ui/rating/style.ts
Due: pnpm run format, pnpm lint-stage-ui

chore(frontend): import rating component for testing
  apps/web/src/views/SampleView.tsx
Due: pnpm lint-stage-fe

chore(front-end): add the cart dropdown to header, add test object for multiple cart items
  packages/ui/nav/Header.tsx
Due: pnpm run format, pnpm lint-stage-ui
