Repository TreshAnn/POC-EyCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe, pnpm lint-stage-ui

Ready for merge
  apps/web/src/views/SampleView.tsx
  packages/ui/rating/StarRating.tsx
  packages/ui/rating/user-review/UserReview.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix(frontend): implement rating component
  apps/web/src/views/SampleView.tsx
  packages/ui/product-info/productInfo.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix(frontend): remove unused library
  packages/ui/package.json
Due: none

chore(frontend): import productGallery Component for testing
  apps/web/src/views/SampleView.tsx
Due: pnpm lint-stage-fe

chore(frontend): add sample data
  packages/ui/product-info/sample.data.ts
Due: pnpm run format, pnpm lint-stage-ui

chore(frontend): use StarRating component
  packages/ui/rating/rating.tsx
Due: pnpm run format, pnpm lint-stage-ui

fix: adjust content center
  packages/ui/cart/Cart.tsx
  packages/ui/quantity/style.ts
Due: pnpm run format, pnpm lint-stage-ui

chore(front-end): add default breakpoints to theme, import bold font to default, update styles of cart table and quantity
  apps/web/src/styles/index.css
  apps/web/src/styles/theme.ts
  packages/ui/cart/styles.ts
  packages/ui/quantity/style.ts
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore(front-end): adjust quantity component in header cart, create cart table for cartview
  apps/web/src/views/CartView.tsx
  packages/ui/cart/CartTable.tsx
  packages/ui/cart/HeaderCart.tsx
  packages/ui/cart_temp/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix(frontend); modify product info and gallery for repsonsive design
  packages/ui/product-gallery/productGallery.tsx
  packages/ui/product-gallery/style.ts
  packages/ui/product-info/productInfo.tsx
  packages/ui/product-info/style.ts
Due: pnpm run format, pnpm lint-stage-ui

chore(frontend): add enum for breakpoints
  packages/ui/Enum/enum.ts
Due: pnpm run format, pnpm lint-stage-ui

chore(frontend): add sample data for testing
  apps/web/src/views/SampleView.tsx
  packages/ui/product-info/sample.data.ts
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore(frontend): modify productinfo and productGallery Component for responisve design
  packages/ui/product-gallery/productGallery.tsx
  packages/ui/product-gallery/style.ts
  packages/ui/product-info/productInfo.tsx
  packages/ui/product-info/sample.data.ts
  packages/ui/product-info/style.ts
Due: pnpm run format, pnpm lint-stage-ui

fix(frontend): implement fraction-based rating component
  packages/ui/rating/StarRating.tsx
Due: pnpm run format, pnpm lint-stage-ui

feat(api): API Integration for products
  apps/api/package.json
  apps/api/src/auth/auth.controller.ts
  apps/api/src/main.ts
  apps/api/src/products/products.controller.ts
  apps/api/src/products/products.service.ts
  apps/web/package.json
  apps/web/src/lib/auth.ts
  apps/web/src/lib/axios.ts
  apps/web/src/lib/react-query.ts
  apps/web/src/views/RootView.tsx
  apps/web/src/views/products/api/addProduct.ts
  apps/web/src/views/products/api/getAllProducts.ts
  apps/web/src/views/products/api/index.ts
  apps/web/src/views/products/index.ts
  apps/web/src/views/products/pages/ProductsView.tsx
  apps/web/src/views/products/pages/index.ts
  apps/web/src/views/products/types/index.ts
  packages/ui/product/Product.tsx
  pnpm-lock.yaml
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe, pnpm lint-stage-ui

chore(frontend): move size-screen.contant.ts to utils
  packages/ui/product-gallery/productGallery.tsx
  packages/ui/product-gallery/style.ts
  packages/ui/product-info/style.ts
  packages/ui/utils/screen-size.constant.ts
Due: pnpm run format, pnpm lint-stage-ui

fix(frontend): fix payment details
  packages/ui/Card/PaymentDetails.tsx
Due: pnpm run format, pnpm lint-stage-ui

fix(frontend): fix ProducInfo Props and use screen-size constants directly
  apps/web/src/views/SampleView.tsx
  packages/ui/product-gallery/style.ts
  packages/ui/product-info/productInfo.tsx
  packages/ui/product-info/style.ts
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore: transfer test data to file, add image to image view
  packages/ui/cart/CartTable.tsx
  packages/ui/cart/sample.data.ts
Due: pnpm run format, pnpm lint-stage-ui

fix: fix routing in backend for products
  apps/api/src/products/products.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore(frontend): mantine grid for product display, adjust product component
  apps/web/src/views/products/pages/ProductsView.tsx
  apps/web/src/views/products/pages/styles.ts
  packages/ui/product/styles.ts
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

refactor: phoneNumber, Region, City, and Country
  apps/web/src/components/auth/RegisterForm.tsx
  apps/web/src/components/auth/tempData.tsx
Due: pnpm lint-stage-fe

fix: responsive vh for scroll area
  packages/ui/cart/CartTable.tsx
  packages/ui/cart/styles.ts
Due: pnpm run format, pnpm lint-stage-ui

fix: set fixed header for scroll area
  packages/ui/cart/CartTable.tsx
  packages/ui/cart/styles.ts
Due: pnpm run format, pnpm lint-stage-ui

fix: remove unused import
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-ui

[Frontend] User review-module
  apps/web/src/views/SampleView.tsx
  packages/ui/rating/RatingModule.tsx
  packages/ui/rating/rating.tsx
  packages/ui/rating/style.ts
  packages/ui/rating/types/Rating-types.ts
  packages/ui/rating/user-review/UserReview.tsx
  packages/ui/rating/user-review/style.ts
  packages/ui/rating/user-review/test-data.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix: import duplicate
  apps/web/src/views/products/pages/ProductsView.tsx
Due: pnpm lint-stage-fe

fix: set height for mantine image in card
  packages/ui/product/Product.tsx
  packages/ui/product/styles.ts
Due: pnpm run format, pnpm lint-stage-ui

Utilized breakpoints enum
  packages/ui/rating/style.ts
Due: pnpm run format, pnpm lint-stage-ui

chore: add merchant ref to product schema
  apps/api/src/products/schemas/products.schema.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): remove imgAttch
  apps/api/src/cart/cart.service.ts
  apps/api/src/cart/dto/item.dto.ts
  apps/api/src/cart/schemas/cart.schema.ts
  apps/api/src/products/dto/create-product.dto.ts
  apps/api/src/products/schemas/products.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore: add getCart hook
  apps/web/src/views/cart/api/getCart.ts
Due: pnpm lint-stage-fe

chore: create CartView to test cartQuery
  apps/web/src/views/cart/pages/CartView.tsx
Due: pnpm lint-stage-fe

chore: add Cart interface
  apps/web/src/views/cart/types/index.ts
Due: pnpm lint-stage-fe

chore: add temp styled component
  apps/web/src/views/cart/pages/styles.ts
Due: pnpm lint-stage-fe

chore: add export file for temp CartView component
  apps/web/src/views/cart/pages/index.ts
Due: pnpm lint-stage-fe

Partial commit
  apps/api/src/cart/cart.controller.ts
  apps/web/src/views/CartView.tsx
  apps/web/src/views/cart/api/getCart.ts
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe, pnpm lint-stage-ui

[FRONTEND]: Cart Items API integration
  apps/web/src/views/CartView.tsx
  apps/web/src/views/cart/api/getCart.ts
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore(frontend): API integration for product info component
  apps/web/src/views/RootView.tsx
  apps/web/src/views/SampleView.tsx
  apps/web/src/views/products/api/getProduct.ts
  apps/web/src/views/products/pages/ProductDetailView.tsx
  apps/web/src/views/products/pages/ProductsView.tsx
  apps/web/src/views/products/pages/index.ts
  apps/web/src/views/products/types/index.ts
  packages/ui/product-info/productInfo.tsx
  packages/ui/product-info/style.ts
  packages/ui/product/Product.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore: add merchantID in product creation
  apps/api/src/products/products.controller.ts
  apps/api/src/products/products.module.ts
  apps/api/src/products/products.service.ts
  apps/api/src/utils/extract-token.utils.ts
  apps/web/src/views/products/api/addProduct.ts
  apps/web/src/views/products/pages/ProductsView.tsx
  apps/web/src/views/products/types/index.ts
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe

Path conditions:
  pnpm run format: (any of: apps/api/**/*.{js,ts,tsx}) or (any of: packages/ui/**/*.{js,ts,tsx})
  pnpm lint-stage-be: any of: apps/api/**/*.{js,ts,tsx}
  pnpm lint-stage-fe: any of: apps/web/**/*.{js,ts,tsx}
  pnpm lint-stage-ui: any of: packages/ui/**/*.{js,ts,tsx}
