Repository TreshAnn/POC-EyCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-ui

.lintstagedrc:

{
  "apps/api/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-be"],
  "apps/web/**/*.{js,ts,tsx}": ["pnpm run format"],
  "packages/ui/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-ui"],
  "*.json": ["pnpm run format"]
}

chore(back-end): add new field(isActive) to user dto and schema
  apps/api/src/users/dto/create-user.dto.ts
  apps/api/src/users/schemas/user.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore(back-end): remove delete function in auth service
  apps/api/src/auth/auth.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(back-end): replace delete functions with disable and enable
  apps/api/src/users/users.controller.ts
  apps/api/src/users/users.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): fix auth user issue
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/dto/auth.dto.ts
  apps/api/src/merchants/merchants.controller.ts
  apps/api/src/users/users.controller.ts
  apps/api/src/users/users.service.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm lint-stage-be

chore(be): re-added find by user api
  apps/api/src/users/users.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): Add product.dto
  apps/api/src/products/dto/create-product.dto.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add product schema
  apps/api/src/products/schemas/products.schema.ts
Due: pnpm run format, pnpm lint-stage-be

feat(backend): Create Product API
  apps/api/src/products/products.controller.ts
  apps/api/src/products/products.module.ts
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): import Product module to app.module
  apps/api/src/app.module.ts
Due: pnpm run format, pnpm lint-stage-be

chore(front-end): refactor front end
  apps/web-2/.eslintrc.json
  apps/web-2/.gitignore
  apps/web-2/.prettierrc
  apps/web-2/LICENSE
  apps/web-2/README.md
  apps/web-2/index.html
  apps/web-2/package.json
  apps/web-2/public/vite.svg
  apps/web-2/src/hooks/useTheme.ts
  apps/web-2/src/main.tsx
  apps/web-2/src/styles/index.css
  apps/web-2/src/views/NotFoundView.tsx
  apps/web-2/src/views/RootView.tsx
  apps/web-2/src/views/SampleView.tsx
  apps/web-2/src/views/login/index.tsx
  apps/web-2/src/views/login/login.css
  apps/web-2/src/vite-env.d.ts
  apps/web-2/tsconfig.json
  apps/web-2/tsconfig.node.json
  apps/web-2/vite.config.ts
  apps/web/package.json
  package.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/tsconfig/react.json
  pnpm-lock.yaml
Due: pnpm run format

chore(front-end): update web app to use new react framework
  .lintstagedrc
  apps/web-2/README.md
  apps/web-2/package.json
  apps/web-2/src/components/auth/LoginForm.tsx
  apps/web-2/src/components/auth/styles.ts
  apps/web-2/src/hooks/.gitkeep
  apps/web-2/src/hooks/useTheme.ts
  apps/web-2/src/styles/index.css
  apps/web-2/src/views/Login/LoginView.tsx
  apps/web-2/src/views/RootView.tsx
  apps/web-2/src/views/login/index.tsx
  apps/web-2/src/views/login/login.css
  apps/web-2/tsconfig.node.json
  packages/ui/Elements/Checkbox/Checkbox.tsx
  packages/ui/Elements/Checkbox/styles.ts
  packages/ui/Elements/Checkbox/types.ts
  packages/ui/Form/Form.tsx
  packages/ui/Form/index.ts
  packages/ui/button/Button.tsx
  packages/ui/footer/Footer.jsx
  packages/ui/index.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm lint-stage-ui

chore(front-end): remove nextJS
  apps/web/.env.example
  apps/web/.eslintrc.js
  apps/web/.gitignore
  apps/web/app/_app.tsx
  apps/web/app/layout.tsx
  apps/web/app/login/login.css
  apps/web/app/login/page.tsx
  apps/web/app/page.tsx
  apps/web/app/style.css
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/tsconfig.json
Due: pnpm run format

chore(front-end): use dan boiler plate to web
  apps/web/.eslintrc.json
  apps/web/.gitignore
  apps/web/.prettierrc
  apps/web/LICENSE
  apps/web/index.html
  apps/web/package.json
  apps/web/public/vite.svg
  apps/web/src/components/auth/LoginForm.tsx
  apps/web/src/components/auth/styles.ts
  apps/web/src/hooks/.gitkeep
  apps/web/src/main.tsx
  apps/web/src/styles/index.css
  apps/web/src/views/Login/LoginView.tsx
  apps/web/src/views/NotFoundView.tsx
  apps/web/src/views/RootView.tsx
  apps/web/src/views/SampleView.tsx
  apps/web/src/vite-env.d.ts
  apps/web/tsconfig.json
  apps/web/tsconfig.node.json
  apps/web/vite.config.ts
Due: pnpm run format

chore: eslint fix
  apps/api/.prettierrc
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.guard.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/dto/auth.dto.ts
  apps/api/src/cats/cats.controller.spec.ts
  apps/api/src/cats/cats.service.ts
  apps/api/src/merchants/dto/create-merchant.dto.ts
  apps/api/src/merchants/merchants.controller.ts
  apps/api/src/merchants/merchants.module.ts
  apps/api/src/merchants/merchants.service.ts
  apps/api/src/users/dto/create-user.dto.ts
  apps/api/src/users/users.controller.ts
  apps/api/src/users/users.module.ts
  apps/api/src/users/users.service.ts
  apps/api/test/app.e2e-spec.ts
  apps/web/.prettierrc
  apps/web/src/components/auth/LoginForm.tsx
  apps/web/src/components/auth/styles.ts
  apps/web/src/main.tsx
  apps/web/src/views/Login/LoginView.tsx
  apps/web/src/views/NotFoundView.tsx
  apps/web/src/views/RootView.tsx
  apps/web/src/views/SampleView.tsx
  apps/web/vite.config.ts
  packages/eslint-config-custom/index.js
  packages/ui/Elements/Checkbox/Checkbox.tsx
  packages/ui/Form/Form.tsx
  packages/ui/footer/Footer.tsx
  packages/ui/index.tsx
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-ui

chore: eslint fix
  apps/api/src/app.module.ts
  apps/api/src/auth/constants.ts
  apps/api/src/auth/decorators/public.decorator.ts
  apps/api/src/auth/schemas/auth.schema.ts
  apps/api/src/cats/cats.controller.ts
  apps/api/src/cats/cats.module.ts
  apps/api/src/cats/cats.service.spec.ts
  apps/api/src/cats/dto/create-cat.dto.ts
  apps/api/src/cats/schemas/cat.schema.ts
  apps/api/src/main.ts
  apps/api/src/merchants/schemas/merchant.schema.ts
  apps/api/src/products/schemas/products.schema.ts
  apps/api/src/users/schemas/user.schema.ts
  apps/api/src/users/users.service.spec.ts
  apps/web/src/components/auth/LoginForm.tsx
Due: pnpm run format, pnpm lint-stage-be

fix: backend get
  apps/api/src/merchants/merchants.controller.ts
Due: pnpm run format, pnpm lint-stage-be

fix: add fix for lintstaged
  .lintstagedrc
Due: none

fix: eslint fix for all apps and packages
  .prettierrc
  apps/api/.eslintrc.js
  apps/api/src/auth/auth.guard.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/dto/auth.dto.ts
  apps/api/src/cats/cats.controller.spec.ts
  apps/api/src/cats/cats.service.ts
  apps/api/src/merchants/dto/create-merchant.dto.ts
  apps/api/src/merchants/merchants.controller.ts
  apps/api/src/merchants/merchants.module.ts
  apps/api/src/merchants/merchants.service.ts
  apps/api/src/products/schemas/products.schema.ts
  apps/api/src/users/dto/create-user.dto.ts
  apps/api/src/users/users.controller.ts
  apps/api/src/users/users.module.ts
  apps/api/src/users/users.service.ts
  apps/api/test/app.e2e-spec.ts
  apps/web/.eslintrc.json
  apps/web/.prettierrc
  apps/web/package.json
  apps/web/src/components/auth/LoginForm.tsx
  package.json
  packages/eslint-config-custom-server/index.js
  packages/eslint-config-custom/index.js
  packages/ui/.prettierrc
  packages/ui/header/Header.tsx
  packages/ui/header/Header_old.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-ui

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

chore: register form
  apps/web/src/components/auth/RegisterForm.tsx
  apps/web/src/components/auth/styles.ts
  apps/web/src/views/Register/RegisterView.tsx
Due: pnpm run format

chore: Header and Footer Navigation
  apps/web/src/styles/index.css
  apps/web/src/views/RootView.tsx
  packages/ui/footer/footer.css
  packages/ui/header/Header_old.tsx
  packages/ui/header/header_old.css
  packages/ui/index.tsx
  packages/ui/nav/Footer.tsx
  packages/ui/nav/Header.tsx
  packages/ui/nav/footer.css
Due: pnpm run format, pnpm lint-stage-ui

chore(backend): add custom validation for address and phoneNumber
  apps/api/src/utils/custom-validations.utils.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): fix validations and custom decorator for createMerchantDto
  apps/api/src/merchants/dto/create-merchant.dto.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): remove @Public decorator
  apps/api/src/products/products.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore: remove comments and code clean up
  apps/api/src/users/users.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore: Remove unused import and display none
  apps/web/src/components/auth/RegisterForm.tsx
  apps/web/src/styles/index.css
Due: pnpm run format

fix(backend): fix pascal case
  apps/api/src/merchants/dto/create-merchant.dto.ts
  apps/api/src/utils/custom-validations.utils.ts
Due: pnpm run format, pnpm lint-stage-be

chore: remove unused imports & display none
  apps/web/src/components/auth/RegisterForm.tsx
  apps/web/src/styles/index.css
Due: pnpm run format

chore(back-end): apply auto fill for isActive field, transfer controller and service methods from prev branch
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/schemas/auth.schema.ts
  apps/api/src/merchants/merchants.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add custom validation util
  apps/api/src/utils/custom-validations.utils.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): fix imports
  apps/api/src/products/schemas/products.schema.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): fix user validations
  apps/api/src/users/dto/create-user.dto.ts
Due: pnpm run format, pnpm lint-stage-be

chore: update pnpm-lock file
  pnpm-lock.yaml
Due: none

chore(backend): add read product API
  apps/api/src/products/products.controller.ts
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): fix missing import for product schema
  apps/api/src/products/schemas/products.schema.ts
Due: pnpm run format, pnpm lint-stage-be

fix: product service
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be

Update apps/api/src/products/products.service.ts
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be
