Repository TreshAnn/POC-EyCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe, pnpm lint-stage-ui

chore: fix empty user cart exception
  apps/api/src/cart/cart.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore: change message if no items in cart
  apps/web/src/views/cart/pages/CartView.tsx
Due: pnpm lint-stage-fe

chore: format price
  packages/ui/cart/Cart.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore: cart items API integration
  packages/ui/cart/HeaderCart.tsx
  packages/ui/nav/Header.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore: add api for merchant specific products
  apps/api/src/products/products.controller.ts
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be

wip(frontend): cart total price
  packages/ui/cart/CartTable.tsx
  packages/ui/cart/styles.ts
Due: pnpm run format, pnpm lint-stage-ui

chore(backend): add rating product schema
  apps/api/src/rating/schemas/rating.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore: create modal for merchant add product
  apps/web/src/views/products/pages/MerchantProductsView.tsx
  apps/web/src/views/products/pages/ProductsView.tsx
  packages/ui/product/ProductModal.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore: api impl for merchant and their products
  apps/web/src/views/RootView.tsx
  apps/web/src/views/products/api/getMerchant.ts
  apps/web/src/views/products/api/getMerchantProducts.ts
  apps/web/src/views/products/api/index.ts
  apps/web/src/views/products/pages/index.ts
  apps/web/src/views/products/types/index.ts
Due: pnpm lint-stage-fe

chore: clean up comments and unused function
  apps/web/src/views/products/pages/MerchantProductsView.tsx
Due: pnpm lint-stage-fe

modify(frontend): edit button
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore(frontend): modify checkout button
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-ui

fix(frontend): modify font size
  packages/ui/product-info/style.ts
Due: pnpm run format, pnpm lint-stage-ui

fix(frontend): Replace copied currency symbol with HTML version
  packages/ui/product-info/productInfo.tsx
Due: pnpm run format, pnpm lint-stage-ui

modify(frontend): add padding and change the peso sign to html version
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore: add conditional rendering for empty cart
  packages/ui/cart/HeaderCart.tsx
  packages/ui/nav/Header.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore: utilize modal for get product
  apps/api/src/products/products.service.ts
  apps/api/src/utils/extract-token.utils.ts
  apps/web/src/views/products/api/index.ts
  apps/web/src/views/products/pages/MerchantProductsView.tsx
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe

chore: read product on modal, rename functions in queries
  apps/web/src/views/products/api/getMerchant.ts
  apps/web/src/views/products/api/getProduct.ts
  apps/web/src/views/products/pages/ProductsView.tsx
  apps/web/src/views/products/pages/styles.ts
  packages/ui/product/MerchantProduct.tsx
  packages/ui/product/ProductModal.tsx
  packages/ui/product/styles.ts
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore(backend): add rating-product dto
  apps/api/src/rating/dto/create-rating.dto.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): create rating-product API
  apps/api/src/auth/auth.service.ts
  apps/api/src/rating/ratings.controller.ts
  apps/api/src/rating/ratings.module.ts
  apps/api/src/rating/ratings.service.ts
  apps/api/src/rating/schemas/rating.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): import rating module to app.module.ts
  apps/api/src/app.module.ts
Due: pnpm run format, pnpm lint-stage-be

modify(frontend): remove the computation in frontend
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-ui

wip: Create Product Implementation
  apps/web/package.json
  apps/web/src/components/product/createProduct.tsx
  apps/web/src/views/products/pages/ProductsView.tsx
  pnpm-lock.yaml
Due: pnpm lint-stage-fe

chore: update product api-impl
  apps/api/src/products/dto/update-product.dto.ts
  apps/web/src/views/products/api/index.ts
  apps/web/src/views/products/api/updateProduct.ts
  apps/web/src/views/products/pages/MerchantProductsView.tsx
  apps/web/src/views/products/pages/ProductsView.tsx
  packages/ui/product/ProductModal.tsx
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe, pnpm lint-stage-ui

chore: fix quantity change of cart item
  packages/ui/cart/HeaderCart.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore: UI imports
  apps/web/src/views/products/pages/ProductsView.tsx
  packages/ui/product/ProductModal.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore: remove unnecessary console.log
  packages/ui/cart/HeaderCart.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore: use HTML entity for Peso Sign
  packages/ui/cart/Cart.tsx
  packages/ui/cart/HeaderCart.tsx
Due: pnpm run format, pnpm lint-stage-ui

feat(frontend): fix cart table total price responsiveness
  packages/ui/cart/CartTable.tsx
  packages/ui/cart/styles.ts
Due: pnpm run format, pnpm lint-stage-ui

Test backend flow
  apps/api/src/cart/cart.service.ts
  apps/web/src/views/cart/api/increaseCartItem.ts
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe, pnpm lint-stage-ui

fix: cart table total amount
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore: remove unused logic
  apps/web/src/views/products/api/getProduct.ts
  apps/web/src/views/products/api/index.ts
Due: pnpm lint-stage-fe

increase item query done
  apps/web/src/views/cart/api/increaseCartItem.ts
  apps/web/src/views/cart/types/index.ts
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix: price comma and title line height, card vertical spacing
  apps/web/src/views/products/pages/MerchantProductsView.tsx
  packages/ui/product/MerchantProduct.tsx
  packages/ui/product/Product.tsx
  packages/ui/product/ProductModal.tsx
  packages/ui/product/styles.ts
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore: add checkbox for edit to call deactivate and activate API
  apps/web/src/views/products/api/activateProduct.ts
  apps/web/src/views/products/api/deactivateProduct.ts
  apps/web/src/views/products/api/index.ts
  apps/web/src/views/products/pages/MerchantProductsView.tsx
  apps/web/src/views/products/pages/ProductsView.tsx
  packages/ui/product/ProductModal.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore: group hidden products below active, apply loaders
  apps/web/src/views/products/pages/MerchantProductsView.tsx
  packages/ui/product/MerchantProduct.tsx
  packages/ui/product/ProductModal.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix: apply changes from updated image db
  apps/web/src/views/products/pages/MerchantProductsView.tsx
  packages/ui/product/ProductModal.tsx
  packages/ui/product/styles.ts
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore: remove logs and unused imports
  apps/api/src/products/products.service.ts
  apps/web/src/views/products/pages/MerchantProductsView.tsx
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe

chore: apply img changes to update dto, handle modal close with useEffect
  apps/api/src/products/dto/update-product.dto.ts
  apps/web/src/views/products/pages/MerchantProductsView.tsx
  packages/ui/product/ProductModal.tsx
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe, pnpm lint-stage-ui

chore: add onblur trimming, create handleDataChange for similar event handlers
  packages/ui/product/ProductModal.tsx
Due: pnpm run format, pnpm lint-stage-ui

Path conditions:
  pnpm run format: (any of: apps/api/**/*.{js,ts,tsx}) or (any of: packages/ui/**/*.{js,ts,tsx})
  pnpm lint-stage-be: any of: apps/api/**/*.{js,ts,tsx}
  pnpm lint-stage-fe: any of: apps/web/**/*.{js,ts,tsx}
  pnpm lint-stage-ui: any of: packages/ui/**/*.{js,ts,tsx}
