Repository TreshAnn/POC-EyCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe, pnpm lint-stage-ui

.lintstagedrc:

{
  "apps/api/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-be"],
  "apps/web/**/*.{js,ts,tsx}": ["pnpm lint-stage-fe"],
  "packages/ui/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-ui"]
}

chore(frontend): Implement styled components
  packages/ui/header/Header.tsx
  packages/ui/header/style.ts
  packages/ui/package.json
Due: pnpm run format, pnpm lint-stage-ui

chore(frontend): remove unused component in SampleView
  apps/web/src/views/SampleView.tsx
Due: pnpm lint-stage-fe

chore(frontend): move inline styles to Styled Components
  packages/ui/searchbar/searchbar.tsx
  packages/ui/searchbar/style.ts
Due: pnpm run format, pnpm lint-stage-ui

chore(frontend): move mock data to sample file
  packages/ui/searchbar/data.sample.ts
  packages/ui/searchbar/searchbar.tsx
Due: pnpm run format, pnpm lint-stage-ui

fix: import error for Header
  packages/ui/nav/style.ts
Due: pnpm run format, pnpm lint-stage-ui

fix: missing StyledComponents
  packages/ui/nav/style.ts
Due: pnpm run format, pnpm lint-stage-ui

fix(backend): fix productID
  apps/api/src/cart/schemas/cart.schema.ts
Due: pnpm run format, pnpm lint-stage-be

regex addition to productID
  apps/api/src/products/dto/create-product.dto.ts
Due: pnpm run format, pnpm lint-stage-be

feat: Implement Login API in login page
  apps/api/src/auth/auth.service.ts
  apps/api/src/main.ts
  apps/web/package.json
  apps/web/src/components/auth/LoginForm.tsx
  apps/web/src/components/auth/RegisterForm.tsx
  apps/web/src/lib/auth.tsx
  apps/web/src/lib/axios.ts
  apps/web/src/lib/react-query.ts
  apps/web/src/utils/storage.ts
  apps/web/src/views/Login/LoginView.tsx
  apps/web/src/views/RootView.tsx
  apps/web/src/views/auth/api/index.ts
  apps/web/src/views/auth/api/login.ts
  apps/web/src/views/auth/index.ts
  apps/web/src/views/auth/pages/LoginView.tsx
  apps/web/src/views/auth/pages/index.ts
  apps/web/src/views/auth/types/index.ts
  apps/web/vite.config.ts
  packages/ui/index.tsx
  pnpm-lock.yaml
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe, pnpm lint-stage-ui

chore(front-end): fix for sideEffect error in login
  apps/web/src/components/auth/LoginForm.tsx
  apps/web/src/lib/auth.ts
Due: pnpm lint-stage-fe

chore(front-end): make axios error red.
  apps/web/src/lib/axios.ts
Due: pnpm lint-stage-fe

chore(front-end): add form validation in login
  apps/web/src/components/auth/LoginForm.tsx
Due: pnpm lint-stage-fe

chore(back-end): added I prefix to interface name, remove StarSVG component, renamed StyledComponents in use
  packages/ui/product/Product.tsx
  packages/ui/product/StarSVG.tsx
  packages/ui/product/styles.ts
Due: pnpm run format, pnpm lint-stage-ui

fix(backend): fix leading and trailing spaces
  apps/api/src/products/dto/create-product.dto.ts
Due: pnpm run format, pnpm lint-stage-be

fix/be/create-product-API
  apps/api/src/auth/auth.service.ts
  apps/api/src/products/product.guard.ts
  apps/api/src/products/products.controller.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): remove console.log
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(front-end): added theme override for setting global and reusable themes
  apps/web/src/styles/theme.ts
  apps/web/src/views/RootView.tsx
Due: pnpm lint-stage-fe

chore(front-end): utilize theme overriding of mantine, added shades of brand color
  apps/web/src/styles/theme.ts
  apps/web/src/views/SampleView.tsx
Due: pnpm lint-stage-fe

fix(backend): create update product dto for update controller
  apps/api/src/products/dto/update-product.dto.ts
  apps/api/src/products/products.controller.ts
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be

modify(backend): fix image url and image attach
  apps/api/src/products/dto/create-product.dto.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): restore deleted user validation fix
  apps/api/src/users/dto/create-user.dto.ts
Due: pnpm run format, pnpm lint-stage-be

chore(back-end): remove other fields in cart schema
  apps/api/src/cart/schemas/cart.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore(back-end): add service, controller and module for cart
  apps/api/src/app.module.ts
  apps/api/src/cart/cart.controller.ts
  apps/api/src/cart/cart.module.ts
  apps/api/src/cart/cart.service.ts
  apps/api/src/cart/dto/item.dto.ts
Due: pnpm run format, pnpm lint-stage-be

chore(back-end): add reference to product modules
  apps/api/src/cart/cart.module.ts
  apps/api/src/cart/cart.service.ts
  apps/api/src/products/products.module.ts
Due: pnpm run format, pnpm lint-stage-be

chore(back-end): reference img class from products and remove comments
  apps/api/src/cart/schemas/cart.schema.ts
Due: pnpm run format, pnpm lint-stage-be

deletion of authorization
  apps/api/src/products/product.guard.ts
Due: pnpm run format, pnpm lint-stage-be

Update apps/api/src/auth/auth.service.ts
  apps/api/src/auth/auth.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(back-end): add prefill function for itemDto to get data from product schema
  apps/api/src/cart/cart.controller.ts
  apps/api/src/cart/cart.service.ts
  apps/api/src/cart/dto/item.dto.ts
Due: pnpm run format, pnpm lint-stage-be

Update apps/api/src/products/products.controller.ts
  apps/api/src/products/products.controller.ts
Due: pnpm run format, pnpm lint-stage-be

Update apps/api/src/products/product.guard.ts
  apps/api/src/products/product.guard.ts
Due: pnpm run format, pnpm lint-stage-be

Delete product.guard.ts
  apps/api/src/products/product.guard.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add validation for product dto
  apps/api/src/products/dto/create-product.dto.ts
Due: pnpm run format, pnpm lint-stage-be

chore(back-end): added temporary decoder for access token to be used in userID of requests
  apps/api/src/cart/cart.controller.ts
  apps/api/src/cart/cart.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix(back-end): re-commit deleted code for deactivate account
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/schemas/auth.schema.ts
  apps/api/src/merchants/merchants.service.ts
  apps/api/src/users/users.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix(back-end): corrected totalAmount prop passed when new cart is created, transfer decoder in service
  apps/api/src/cart/cart.controller.ts
  apps/api/src/cart/cart.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): added quantity value handler
  apps/api/src/cart/cart.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(back-end): rename function for createItem
  apps/api/src/cart/cart.controller.ts
  apps/api/src/cart/cart.service.ts
Due: pnpm run format, pnpm lint-stage-be

Done creating RBAC, CASL authorization
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/auth/ability/ability.decorator.ts
  apps/api/src/auth/ability/ability.factory.ts
  apps/api/src/auth/ability/ability.guard.ts
  apps/api/src/auth/ability/ability.module.ts
  apps/api/src/auth/ability/enum/ability.enum.ts
  apps/api/src/auth/auth.guard.ts
  apps/api/src/auth/decorators/role.decorator.ts
  apps/api/src/guards/Role.guard.ts
  apps/api/src/guards/enum/role.enum.ts
  apps/api/src/middleware/auth.middleware.ts
  apps/api/src/users/users.controller.ts
  apps/api/src/users/users.module.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add update cart item API
  apps/api/src/cart/cart.controller.ts
  apps/api/src/cart/cart.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add http response for product API
  apps/api/src/cart/cart.service.ts
Due: pnpm run format, pnpm lint-stage-be
