Repository TreshAnn/POC-EyCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe, pnpm lint-stage-ui

.lintstagedrc:

{
  "apps/api/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-be"],
  "apps/web/**/*.{js,ts,tsx}": ["pnpm lint-stage-fe"],
  "packages/ui/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-ui"]
}

fix: auto close modal if success
  apps/web/src/views/products/pages/MerchantProductsView.tsx
Due: pnpm lint-stage-fe

fe/feat: increase/decrease cart quantity api integration
  apps/api/src/cart/cart.service.ts
  apps/web/src/views/CartView.tsx
  apps/web/src/views/cart/api/cartQuantity.ts
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe, pnpm lint-stage-ui

fix(api integration)- add getAllMerchant API
  apps/web/src/views/products/api/getAllMerchant.ts
  apps/web/src/views/products/api/getMerchant.ts
  apps/web/src/views/products/api/index.ts
  apps/web/src/views/products/pages/MerchantProductsView.tsx
  apps/web/src/views/products/pages/ProductDetailView.tsx
  apps/web/src/views/products/types/index.ts
Due: pnpm lint-stage-fe

chore(backend): add getAllMerchant API
  apps/api/src/merchants/merchants.controller.ts
  apps/api/src/merchants/merchants.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): apply token extractor from utils
  apps/api/src/cart/cart.controller.ts
  apps/api/src/cart/cart.service.ts
  apps/api/src/cart/schemas/cart.schema.ts
Due: pnpm run format, pnpm lint-stage-be

fix(frontend): update link for title and Home
  packages/ui/nav/Header.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore(frontend): add rating module to product Info Page
  apps/web/src/views/products/pages/ProductDetailView.tsx
Due: pnpm lint-stage-fe

chore: AddToCart mutation
  apps/web/src/views/cart/api/addToCart.ts
Due: pnpm lint-stage-fe

chore: implement addToCart API
  apps/web/src/views/products/pages/ProductsView.tsx
  packages/ui/product/Product.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix(frontend): Align items in the first column to the right
  packages/ui/product-info/productInfo.tsx
  packages/ui/product-info/style.ts
  packages/ui/utils/screen-size.constant.ts
Due: pnpm run format, pnpm lint-stage-ui

wip(frontend): delete cart Item api
  apps/web/src/views/CartView.tsx
  apps/web/src/views/cart/api/deleteItem.ts
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix(backend): add quantity validation for add Item to Cart API
  apps/api/src/cart/cart.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix: cart empty handler
  apps/web/src/views/CartView.tsx
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore: delete callback function for components
  apps/api/src/products/products.service.ts
  apps/web/src/views/CartView.tsx
  apps/web/src/views/cart/api/deleteItem.ts
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe, pnpm lint-stage-ui

cart table
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-ui

cart view
  apps/web/src/views/CartView.tsx
Due: pnpm lint-stage-fe

Re-apply changes
  apps/web/src/views/CartView.tsx
  apps/web/src/views/cart/api/cartQuantity.ts
  apps/web/src/views/cart/types/index.ts
Due: pnpm lint-stage-fe

chore(backend): add validation for exceeding quantity
  apps/api/src/cart/cart.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): modify findOne param
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): modify addToCart productID param
  apps/web/src/views/products/pages/ProductsView.tsx
Due: pnpm lint-stage-fe

fix(backend): modify cart deletion
  apps/api/src/cart/cart.controller.ts
Due: pnpm run format, pnpm lint-stage-be

Sprint 3 demo
  apps/web/src/views/CartView.tsx
  apps/web/src/views/products/pages/MerchantProductsView.tsx
  apps/web/src/views/products/pages/ProductsView.tsx
  packages/ui/product-gallery/style.ts
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

Feat: Update User
  apps/web/src/components/user/UpdateForm.tsx
  apps/web/src/views/RootView.tsx
  apps/web/src/views/user/api/getUser.ts
  apps/web/src/views/user/api/index.ts
  apps/web/src/views/user/api/updateUser.ts
  apps/web/src/views/user/index.ts
  apps/web/src/views/user/pages/UserProfile.tsx
  apps/web/src/views/user/pages/index.ts
  apps/web/src/views/user/types/index.ts
Due: pnpm lint-stage-fe

fix(backend): remove productID field-Product Model and APIs
  apps/api/src/products/dto/create-product.dto.ts
  apps/api/src/products/products.service.ts
  apps/api/src/products/schemas/products.schema.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): remove productID field-Cart Model and APIs
  apps/api/src/cart/cart.controller.ts
  apps/api/src/cart/cart.service.ts
  apps/api/src/cart/dto/item.dto.ts
  apps/api/src/cart/schemas/cart.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add order model schema
  apps/api/src/order/schemas/order.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add shippingFee and reuse Item Class
  apps/api/src/order/schemas/order.schema.ts
Due: pnpm run format, pnpm lint-stage-be

fix-83: save button
  packages/ui/product/ProductModal.tsx
Due: pnpm run format, pnpm lint-stage-ui

fix-83: display on sm screen, fix overlapping vertically long images
  apps/web/src/views/products/pages/MerchantProductsView.tsx
  apps/web/src/views/products/pages/ProductsView.tsx
  apps/web/src/views/products/pages/styles.ts
  packages/ui/product/MerchantProduct.tsx
  packages/ui/product/Product.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore(backend): add create Rating API
  apps/api/src/rating/rating.controller.ts
  apps/api/src/rating/rating.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add module for Rating API
  apps/api/src/rating/rating.module.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add findOne service
  apps/api/src/auth/auth.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add RatingModule
  apps/api/src/app.module.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add createRatingDto for Rating API
  apps/api/src/rating/dto/create-rating.dto.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): modify exports
  apps/api/src/cart/cart.module.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): modify productID
  apps/api/src/cart/cart.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): modify findOne param
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add get all user ratings route
  apps/api/src/rating/rating.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): modify imports
  apps/api/src/rating/rating.module.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add Rating API validations
  apps/api/src/rating/rating.service.ts
Due: pnpm run format, pnpm lint-stage-be
