Repository TreshAnn/POC-EyCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe, pnpm lint-stage-ui

.lintstagedrc:

{
  "apps/api/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-be"],
  "apps/web/**/*.{js,ts,tsx}": ["pnpm lint-stage-fe"],
  "packages/ui/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-ui"]
}

Update apps/api/src/products/products.service.ts
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(frontend): add dropdown navigation component
  packages/ui/dropdown/dropdown.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm lint-stage-ui

fix: create product service
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(fe): modify pages for testing purposes
  apps/web/src/styles/index.css
  apps/web/src/views/SampleView.tsx
Due: pnpm lint-stage-fe

fix: typo for Register Select
  apps/web/src/components/auth/RegisterForm.tsx
Due: pnpm lint-stage-fe

chore(backend): remove @IsAlpha validator
  apps/api/src/users/dto/create-user.dto.ts
Due: pnpm run format, pnpm lint-stage-be

test
  pnpm-lock.yaml
Due: none

chore: Header Navbar
  apps/web/src/views/RootView.tsx
  packages/ui/header/Header.tsx
  packages/ui/header/Header_old.tsx
  packages/ui/header/header_old.css
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore: footer using mantine and stylecomponent
  apps/web/src/styles/index.css
  apps/web/src/views/RootView.tsx
  packages/ui/footer/Footer.tsx
  packages/ui/footer/footer.css
  packages/ui/footer/style.ts
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore(backend): add update product API
  apps/api/src/products/products.controller.ts
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(back-end): add cart Schema
  apps/api/src/cart/schemas/cart.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore: Responsive Header Padding
  apps/web/src/styles/index.css
Due: none

fix: product update
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(frontend): add library needed for header navbar
  packages/ui/package.json
Due: none

chore(frontend): Revise the page to eliminate potential errors.
  apps/web/src/views/SampleView.tsx
Due: pnpm lint-stage-fe

fix(frontend): Align Dropdown component with Header Navbar
  packages/ui/dropdown/dropdown.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore(frontend): implement dropdown navigation to Header Navbar
  apps/web/src/styles/index.css
  packages/ui/header/Header.tsx
Due: pnpm run format, pnpm lint-stage-ui

fix(backend): update product service
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be

modify(backend): add regex for productID
  apps/api/src/products/dto/create-product.dto.ts
Due: pnpm run format, pnpm lint-stage-be

fix: modify updated product
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(front-end): create product component with styled-component, set default props to mantine buttons
  apps/web/src/views/RootView.tsx
  apps/web/src/views/SampleView.tsx
  packages/ui/product/Product.tsx
  packages/ui/product/Star.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix(frontend): modify dropdown component
  packages/ui/dropdown/dropdown.tsx
Due: pnpm run format, pnpm lint-stage-ui

fix(frontend): modify header navbar
  apps/web/src/views/RootView.tsx
  packages/ui/header/Header.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix(backend): update product
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): product service
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(frontend): Create Searchbar component
  apps/web/src/views/SampleView.tsx
  packages/ui/package.json
  packages/ui/searchbar/searchbar.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix(frontend): modify header navbar
  apps/web/src/views/RootView.tsx
Due: pnpm lint-stage-fe

chore: Conditional Render for Links
  packages/ui/footer/Footer.tsx
Due: pnpm run format, pnpm lint-stage-ui

wip(frontend): header dropdown
  packages/ui/dropdown/dropdown.tsx
  packages/ui/header/Header.tsx
Due: pnpm run format, pnpm lint-stage-ui

fix(frontend): Implement dropdown
  packages/ui/header/Header.tsx
Due: pnpm run format, pnpm lint-stage-ui

fix(backend): fix update product service
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be

feat(backend): cart schema
  apps/api/src/cart/schemas/cart.schema.ts
Due: pnpm run format, pnpm lint-stage-be

Update apps/api/src/cart/schemas/cart.schema.ts
  apps/api/src/cart/schemas/cart.schema.ts
Due: pnpm run format, pnpm lint-stage-be

fix(front-end): transfer react to dependencies to fix error in separating styled-components
  packages/ui/package.json
Due: none

chore(front-end): add separate styles file for styled-components of product
  packages/ui/product/styles.ts
Due: pnpm run format, pnpm lint-stage-ui

chore(backend): add import productSchema
  apps/api/src/cart/schemas/cart.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): Implement styled components
  packages/ui/header/Header.tsx
  packages/ui/header/style.ts
  packages/ui/package.json
Due: pnpm run format, pnpm lint-stage-ui
