Repository TreshAnn/POC-EyCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe, pnpm lint-stage-ui

.lintstagedrc:

{
  "apps/api/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-be"],
  "apps/web/**/*.{js,ts,tsx}": ["pnpm lint-stage-fe"],
  "packages/ui/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-ui"]
}

chore(backend): add productId to DTO and Schema
  apps/api/src/rating/dto/create-rating.dto.ts
  apps/api/src/rating/schemas/rating.schema.ts
Due: pnpm run format, pnpm lint-stage-be

fix: instant load changes without refresh for add/update
  apps/web/src/views/products/pages/MerchantProductsView.tsx
Due: pnpm lint-stage-fe

fix: remove prev added product details after success
  apps/web/src/views/products/pages/MerchantProductsView.tsx
  packages/ui/product/ProductModal.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

Feat: Create Order
  apps/api/src/app.module.ts
  apps/api/src/cart/cart.module.ts
  apps/api/src/order/dto/create-order.dto.ts
  apps/api/src/order/order.controller.ts
  apps/api/src/order/order.module.ts
  apps/api/src/order/order.serivce.ts
  apps/api/src/order/schemas/order.schema.ts
Due: pnpm run format, pnpm lint-stage-be

fix(api-impl): update productView addtoCartHandler
  apps/api/src/cart/cart.service.ts
  apps/api/src/products/products.service.ts
  apps/web/src/views/products/pages/ProductsView.tsx
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe

fix(frontend): modify product-info component
  packages/ui/nav/style.ts
  packages/ui/product-gallery/productGallery.tsx
  packages/ui/product-gallery/style.ts
  packages/ui/product-info/productInfo.tsx
  packages/ui/product-info/style.ts
  packages/ui/utils/screen-size.constant.ts
Due: pnpm run format, pnpm lint-stage-ui

Authorization refactor
  apps/api/src/auth/ability/ability.decorator.ts
  apps/api/src/auth/ability/ability.guard.ts
  apps/api/src/users/users.controller.ts
  apps/api/src/users/users.service.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm lint-stage-be

wip/delete-cart-item
  apps/web/src/views/CartView.tsx
  apps/web/src/views/cart/types/index.ts
Due: pnpm lint-stage-fe

fix/fe/delete-icon
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-ui

Refactor and test
  apps/api/src/auth/ability/ability.decorator.ts
  apps/api/src/auth/ability/ability.factory.ts
  apps/api/src/auth/ability/ability.guard.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/products/products.controller.ts
  apps/api/src/products/products.module.ts
  apps/api/src/users/users.module.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add updateAuth API
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/dto/auth.dto.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): Modify User and Merchant Update API to fix Auth-based changes
  apps/api/src/merchants/dto/create-merchant.dto.ts
  apps/api/src/merchants/merchants.controller.ts
  apps/api/src/merchants/merchants.module.ts
  apps/api/src/merchants/merchants.service.ts
  apps/api/src/products/products.service.ts
  apps/api/src/users/dto/create-user.dto.ts
  apps/api/src/users/users.controller.ts
  apps/api/src/users/users.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore: removed email input field
  apps/web/src/components/user/UpdateForm.tsx
  apps/web/src/views/user/types/index.ts
Due: pnpm lint-stage-fe

chore: remove manual refetch
  apps/web/src/views/products/pages/MerchantProductsView.tsx
Due: pnpm lint-stage-fe

fix: add product cache update on add
  apps/web/src/views/products/api/addProduct.ts
Due: pnpm lint-stage-fe

fix: optimistic update for update product method
  apps/web/src/views/products/api/updateProduct.ts
Due: pnpm lint-stage-fe

Role guard fix
  apps/api/src/auth/ability/ability.guard.ts
  apps/api/src/guards/Role.guard.ts
  apps/api/src/products/products.controller.ts
Due: pnpm run format, pnpm lint-stage-be

fix delete item
  apps/web/src/views/cart/api/deleteItem.ts
Due: pnpm lint-stage-fe

wip: Order Inventory Management
  apps/api/src/order/dto/create-order.dto.ts
  apps/api/src/order/order.module.ts
  apps/api/src/order/order.serivce.ts
  apps/api/src/order/schemas/order.schema.ts
Due: pnpm run format, pnpm lint-stage-be

fix: Cart Quantity API implementation
  apps/web/src/views/CartView.tsx
  apps/web/src/views/cart/api/cartQuantity.ts
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix: Add to Cart API implementation
  apps/web/src/views/cart/api/addToCart.ts
  apps/web/src/views/products/pages/ProductsView.tsx
Due: pnpm lint-stage-fe

chore: modify UpdateCartDTO
  apps/web/src/views/cart/api/cartQuantity.ts
  apps/web/src/views/cart/types/index.ts
Due: pnpm lint-stage-fe

chore(backend): modify backend authorization
  apps/api/src/auth/ability/ability.factory.ts
  apps/api/src/products/products.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore: apply visible button on no products
  apps/web/src/views/products/pages/MerchantProductsView.tsx
Due: pnpm lint-stage-fe

chore: modify UpdateCartDTO
  apps/web/src/views/CartView.tsx
Due: pnpm lint-stage-fe

chore: modify DeleteItemDTO and productId param
  apps/web/src/views/cart/api/deleteItem.ts
Due: pnpm lint-stage-fe

chore: add container for main content
  apps/web/src/views/RootView.tsx
  apps/web/src/views/styles/styles.ts
Due: pnpm lint-stage-fe

wip: missing shipping address
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/cart/cart.service.ts
  apps/api/src/cart/dto/item.dto.ts
  apps/api/src/order/dto/create-order.dto.ts
  apps/api/src/order/order.controller.ts
  apps/api/src/order/order.module.ts
  apps/api/src/order/order.serivce.ts
  apps/api/src/order/order.service.ts
  apps/api/src/order/schemas/order.schema.ts
  apps/api/src/products/products.controller.ts
  apps/api/src/products/products.service.ts
  apps/api/src/users/users.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix: missing shipping address
  apps/api/src/order/schemas/order.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore: change token expiry to 1d
  apps/api/src/app.module.ts
Due: pnpm run format, pnpm lint-stage-be

chore: add MERCHANT actions
  apps/api/src/auth/ability/ability.factory.ts
Due: pnpm run format, pnpm lint-stage-be

chore(api-impl): implement add to cart API
  apps/web/src/views/cart/api/addToCart.ts
  apps/web/src/views/products/pages/ProductDetailView.tsx
  packages/ui/product-info/productInfo.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore(fe): modify product info components
  apps/api/src/products/products.controller.ts
  apps/web/src/views/cart/types/index.ts
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe

chore: implement AuthGuard
  apps/api/src/products/products.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore(fe): modify product info styling
  packages/ui/product-info/style.ts
Due: pnpm run format, pnpm lint-stage-ui

chore: impl removed productID
  apps/web/src/views/products/api/addProduct.ts
  apps/web/src/views/products/types/index.ts
  packages/ui/product/ProductModal.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix: quantity input
  packages/ui/product-info/productInfo.tsx
  packages/ui/quantity/Quantity.tsx
Due: pnpm run format, pnpm lint-stage-ui

fix: number validation for zipcode
  apps/web/src/components/user/UpdateForm.tsx
Due: pnpm lint-stage-fe

chore: implement addItemToCart AuthGuard
  apps/api/src/auth/ability/ability.factory.ts
  apps/api/src/cart/cart.controller.ts
  apps/api/src/cart/cart.module.ts
Due: pnpm run format, pnpm lint-stage-be

fix: missing user phoneNumber
  apps/api/src/order/order.service.ts
  apps/api/src/order/schemas/order.schema.ts
Due: pnpm run format, pnpm lint-stage-be
