Repository TreshAnn/POC-EyCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-ui

fix: husky
  .husky/commit-msg
  .lintstagedrc
  pnpm-lock.yaml
Due: none

fix: husky
  .husky/pre-commit
Due: none

feat(backend): add authentication implementation
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.guard.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/constants.ts
  apps/api/src/auth/decorators/public.decorator.ts
  apps/api/src/users/users.module.ts
  apps/api/src/users/users.service.spec.ts
  apps/api/src/users/users.service.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm lint-stage-be

Create pull_request_template.md
  .github/pull_request_template.md
Due: none

fix: remove keys
  apps/api/src/app.module.ts
Due: pnpm run format, pnpm lint-stage-be

chore(back-end): add Merchant Schema
  apps/api/src/merchants/schemas/merchant.schema.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm lint-stage-be

chore(back-end): email validator
  apps/api/src/merchants/schemas/merchant.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore(back-end): add user schema
  apps/api/src/users/schemas/user.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore(back-end): add user schema
  .github/pull_request_template.md
Due: none

chore(front-end): Add Mantine Button
  apps/web/.env.example
  apps/web/app/_app.tsx
  apps/web/app/page.tsx
  apps/web/package.json
  packages/ui/Button.tsx
  packages/ui/button/Button.tsx
  packages/ui/index.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm lint-stage-ui

chore(front-end): create check box using styled-components
  apps/web/app/page.tsx
  packages/ui/Checkbox.tsx
  packages/ui/checkbox/Checkbox.tsx
  packages/ui/checkbox/styles.ts
  packages/ui/checkbox/types.ts
  packages/ui/index.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm lint-stage-ui

chore(back-end): add product schema
  apps/api/src/auth/product/schema/producs.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): Add create-user.dto
  apps/api/src/users/dto/create-user.dto.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): Add merchant.dto
  apps/api/src/merchants/dto/create-merchant.dto.ts
Due: pnpm run format, pnpm lint-stage-be

feat(backend): Create User API
  apps/api/src/users/users.controller.ts
  apps/api/src/users/users.module.ts
  apps/api/src/users/users.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): Modify Merchant Schema
  apps/api/src/merchants/schemas/merchant.schema.ts
Due: pnpm run format, pnpm lint-stage-be

feat(backend): Create Merchant API
  apps/api/src/merchants/merchants.controller.ts
  apps/api/src/merchants/merchants.module.ts
  apps/api/src/merchants/merchants.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): modify auth.service for testing
  apps/api/src/auth/auth.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): Import Merchant Module to app.module
  apps/api/src/app.module.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add userType property
  apps/api/src/users/schemas/user.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore(back-end)--add-product-schema
  apps/api/src/auth/product/schema/producs.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): modify package.json
  apps/api/package.json
Due: pnpm run format

fix(backend): implement unique username, move user credentials to auth.schema
  apps/api/src/merchants/schemas/merchant.schema.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): fix firstName, lastName and phoneNumber validation
  apps/api/src/merchants/dto/create-merchant.dto.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add auth.schema
  apps/api/src/auth/schemas/auth.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore: add updateUser service
  apps/api/src/users/users.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore: add updateUser controller
  apps/api/src/users/users.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore: Update README.md
  README.md
Due: none

chore(back-end)--add-product-schema
  apps/api/products/producs.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore(back-end)--add-product-schema
  apps/api/src/products/products.schema.ts
Due: pnpm run format, pnpm lint-stage-be

feat: Header Bar
  apps/web/app/page.tsx
  apps/web/app/style.css
  packages/ui/header/Header.tsx
  packages/ui/header/header.css
  packages/ui/index.tsx
Due: pnpm run format, pnpm lint-stage-ui

fix(backend): fix firstName and lastName validation
  apps/api/src/merchants/dto/create-merchant.dto.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): install bcrypt for password hashing
  apps/api/package.json
Due: pnpm run format

chore(backend): add password hashing
  apps/api/src/users/users.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add validation for firstName and lastName input and password minLength
  apps/api/src/users/dto/create-user.dto.ts
Due: pnpm run format, pnpm lint-stage-be

deleted file
  apps/api/src/merchants/schemas/merchant.schema.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): create Merchant API
  apps/api/src/merchants/merchants.controller.ts
  apps/api/src/merchants/merchants.module.ts
  apps/api/src/merchants/merchants.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): move username, email and password to auth.schema
  apps/api/src/merchants/dto/create-merchant.dto.ts
  apps/api/src/merchants/schemas/merchant.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): modify auth.schema and add auth.dto
  apps/api/src/auth/dto/auth.dto.ts
  apps/api/src/auth/schemas/auth.schema.ts
Due: pnpm run format, pnpm lint-stage-be

Path conditions:
  pnpm run format: (((any of: apps/api/**/*.{js,ts,tsx}) or (any of: apps/web/**/*.{js,ts,tsx})) or (any of: packages/ui/**/*.{js,ts,tsx})) or (any of: *.json)
  pnpm lint-stage-be: any of: apps/api/**/*.{js,ts,tsx}
  pnpm lint-stage-ui: any of: packages/ui/**/*.{js,ts,tsx}
