Repository TreshAnn/POC-EyCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe, pnpm lint-stage-ui

.lintstagedrc:

{
  "apps/api/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-be"],
  "apps/web/**/*.{js,ts,tsx}": ["pnpm lint-stage-fe"],
  "packages/ui/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-ui"]
}

fix(frontend): fix merchant name field
  apps/api/src/merchants/dto/create-merchant.dto.ts
  apps/web/src/components/auth/RegisterForm.tsx
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe

fix(backend): fix merchant name error message
  apps/api/src/merchants/dto/create-merchant.dto.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): fix minor typo in merchantName validation
  apps/api/src/merchants/dto/create-merchant.dto.ts
Due: pnpm run format, pnpm lint-stage-be

modify: use central db test link
  apps/api/src/app.module.ts
Due: pnpm run format, pnpm lint-stage-be

fix(frontend): fix duplication of productName and productImg inside Rating Modal
  packages/ui/rating/rating-modal/RatingModal.tsx
  packages/ui/transaction-history/Order.tsx
Due: pnpm run format, pnpm lint-stage-ui

feat(frontend): add header navigation
  apps/web/src/views/RootView.tsx
  apps/web/src/views/about-us/pages/AboutUsView.tsx
  apps/web/src/views/about-us/pages/index.ts
  apps/web/src/views/contact-us/pages/ContactUsView.tsx
  apps/web/src/views/contact-us/pages/index.ts
  apps/web/src/views/faq/pages/FaqView.tsx
  apps/web/src/views/faq/pages/index.ts
  apps/web/src/views/services/pages/ServicesView.tsx
  apps/web/src/views/services/pages/index.ts
  packages/ui/nav/Header.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

modify db connection to local db
  apps/api/src/app.module.ts
Due: pnpm run format, pnpm lint-stage-be

modify createRating mutation
  apps/web/src/views/rating/api/createRating.ts
Due: pnpm lint-stage-fe

modify callback and implement createRating API
  apps/web/src/views/user-transaction/pages/UserTransactionsView.tsx
  packages/ui/transaction-history/Order.tsx
  packages/ui/transaction-history/Transaction.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

add _id to IOrder type
  apps/web/src/views/user-transaction/types/index.ts
Due: pnpm lint-stage-fe

modify MongooseModule connection to use central db
  apps/api/src/app.module.ts
Due: pnpm run format, pnpm lint-stage-be

feat(frontend): add checkbox alert
  apps/web/src/components/auth/RegisterForm.tsx
Due: pnpm lint-stage-fe

modify Rating Modal size to 50%
  packages/ui/rating/rating-modal/RatingModal.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore: implement closing of modal upon rating submission
  packages/ui/rating/rating-modal/RatingModal.tsx
  packages/ui/transaction-history/Order.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore: add validation to rating title and description
  apps/api/src/rating/dto/create-rating.dto.ts
Due: pnpm run format, pnpm lint-stage-be

chore: reset ratingData when the modal is opened
  packages/ui/rating/rating-modal/RatingModal.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore: add custom validation to rating title and description
  apps/api/src/rating/dto/create-rating.dto.ts
  apps/api/src/utils/custom-validations.utils.ts
Due: pnpm run format, pnpm lint-stage-be

modify(backend): modify regex pattern for phone number
  apps/api/src/merchants/dto/create-merchant.dto.ts
  apps/api/src/users/dto/create-user.dto.ts
  apps/api/src/utils/custom-validations.utils.ts
  apps/web/src/components/auth/RegisterForm.tsx
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe

fix(frontend): overlapping productNames
  packages/ui/product-info/productInfo.tsx
  packages/ui/product-info/style.ts
  packages/ui/product/styles.ts
Due: pnpm run format, pnpm lint-stage-ui

fix double import
  apps/api/src/utils/custom-validations.utils.ts
Due: pnpm run format, pnpm lint-stage-be
