Repository TreshAnn/POC-EyCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe, pnpm lint-stage-ui

.lintstagedrc:

{
  "apps/api/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-be"],
  "apps/web/**/*.{js,ts,tsx}": ["pnpm lint-stage-fe"],
  "packages/ui/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-ui"]
}

chore: implement AuthGuard to User backend routes
  apps/api/src/users/users.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore(be): Implement AuthGuard to Backend Routes
  apps/api/src/cart/cart.controller.ts
  apps/api/src/merchants/merchants.controller.ts
  apps/api/src/merchants/merchants.module.ts
  apps/api/src/products/products.controller.ts
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore: implement read and delete cart AuthGuard
  apps/api/src/cart/cart.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore(be): Add maxOrder Field to Product Schema and DTO
  apps/api/src/products/dto/create-product.dto.ts
  apps/api/src/products/schemas/products.schema.ts
Due: pnpm run format, pnpm lint-stage-be

chore(be): implement maxOrder quantity validation in Cart APIs
  apps/api/src/cart/cart.service.ts
  apps/api/src/cart/dto/item.dto.ts
Due: pnpm run format, pnpm lint-stage-be

chore: setup authprovider for login checking
  apps/web/package.json
  apps/web/src/main.tsx
  apps/web/src/views/AuthProvider.tsx
  apps/web/src/views/RootView.tsx
  pnpm-lock.yaml
Due: pnpm lint-stage-fe

chore(be): implement authguard to merchant and product backend routes
  apps/api/src/merchants/merchants.controller.ts
  apps/api/src/products/products.controller.ts
Due: pnpm run format, pnpm lint-stage-be

fix: allow whitespace in between
  apps/web/src/components/user/UpdateForm.tsx
Due: pnpm lint-stage-fe

chore(backen): implement AuthGuard to activate and deactivate product APIs
  apps/api/src/products/products.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore: add jose and router
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

chore: add role in token
  apps/api/src/auth/auth.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore: impl route global authprovider
  apps/web/src/views/AuthProvider.tsx
  apps/web/src/views/ProtectedRoute.tsx
  apps/web/src/views/RootView.tsx
  apps/web/src/views/UnauthorizedView.tsx
Due: pnpm lint-stage-fe

chore: update route of merchant products
  apps/web/src/views/products/pages/MerchantProductsView.tsx
Due: pnpm lint-stage-fe

Update apps/api/src/merchants/merchants.controller.ts
  apps/api/src/merchants/merchants.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add @Public decorator to get all merchant route
  apps/api/src/merchants/merchants.controller.ts
Due: pnpm run format, pnpm lint-stage-be

fix(fe): quantity input
  apps/web/src/views/cart/types/index.ts
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix(frontend): cartView
  apps/web/src/views/CartView.tsx
  apps/web/src/views/RootView.tsx
  apps/web/src/views/cart/pages/CartView.tsx
Due: pnpm lint-stage-fe

chore: impl header token, mock logout for QA test
  apps/web/src/views/AuthProvider.tsx
  apps/web/src/views/RootView.tsx
  apps/web/src/views/auth/pages/LoginView.tsx
  apps/web/src/views/auth/pages/LogoutView.tsx
  packages/ui/Header.tsx
  packages/ui/dropdown/dropdown.tsx
  packages/ui/nav/Header.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore: protect add to cart btn
  apps/web/src/views/products/pages/ProductsView.tsx
Due: pnpm lint-stage-fe

fix(frontend): subtotal price
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore: fix merge import error
  apps/api/src/users/users.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add cancelOrder API
  apps/api/src/order/order.controller.ts
  apps/api/src/order/order.service.ts
  apps/api/src/order/schemas/order.schema.ts
  apps/api/src/products/products.service.ts
  apps/api/src/users/users.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore: add redirect on no token, apply detailview addtocart btn protected route
  apps/api/src/auth/auth.guard.ts
  apps/web/src/views/AuthProvider.tsx
  apps/web/src/views/ProtectedRoute.tsx
  apps/web/src/views/products/pages/ProductDetailView.tsx
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe

chore: add header navlinks and sample loader in logout
  apps/web/src/views/auth/pages/LogoutView.tsx
  packages/ui/nav/Header.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix: ordered items filter for mutate
  apps/web/src/views/cart/api/deleteItem.ts
Due: pnpm lint-stage-fe

fix: delete cart item api
  apps/web/src/views/cart/api/deleteItem.ts
  apps/web/src/views/cart/pages/CartView.tsx
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore: add User Action to Order and Rating
  apps/api/src/auth/ability/ability.factory.ts
Due: pnpm run format, pnpm lint-stage-be

chore: add AbilityModule to Order module imports
  apps/api/src/order/order.module.ts
Due: pnpm run format, pnpm lint-stage-be

chore: add OrderModule to Rating module imports
  apps/api/src/rating/rating.module.ts
Due: pnpm run format, pnpm lint-stage-be

chore: add getUserOrder function implement AuthGuard to route
  apps/api/src/order/order.controller.ts
  apps/api/src/order/order.service.ts
Due: pnpm run format, pnpm lint-stage-be

wip: create rating API
  apps/api/src/rating/rating.controller.ts
  apps/api/src/rating/rating.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore: append productId
  apps/api/src/order/order.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore: add getAllUserOrders service and backend route
  apps/api/src/order/order.controller.ts
  apps/api/src/order/order.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix: modify cartView
  apps/web/src/views/cart/pages/CartView.tsx
Due: pnpm lint-stage-fe

feat: Read Order
  apps/api/src/order/order.controller.ts
  apps/api/src/order/order.service.ts
  apps/api/src/order/schemas/order.schema.ts
  apps/api/src/users/users.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add getAllDeliveredOrders backend service and route
  apps/api/src/order/order.controller.ts
  apps/api/src/order/order.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): modify create rating service
  apps/api/src/rating/rating.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): modify NotFoundException message
  apps/api/src/rating/rating.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore: remove unused props
  apps/web/src/views/AuthProvider.tsx
Due: pnpm lint-stage-fe

fix(backend): modify createOrder and cancelOrder to utilize productId instead of productName
  apps/api/src/order/order.service.ts
  apps/api/src/order/schemas/order.schema.ts
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be
