Repository TreshAnn/POC-EyCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe, pnpm lint-stage-ui

chore(backend): delete moment
  pnpm-lock.yaml
Due: none

chore(fe): modify user transaction page
  packages/ui/tansaction-history/style.ts
  packages/ui/tansaction-history/transactionPage.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore(fe): separate orderComponent to transaction page file
  packages/ui/tansaction-history/orderComponent.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore(fe): add sample data for testing
  apps/web/src/views/SampleView.tsx
  packages/ui/tansaction-history/sampledata.ts
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore(backend): change connection string to MongoDB Atlas
  apps/api/src/app.module.ts
Due: pnpm run format, pnpm lint-stage-be

fix(fe): default border of mantine table
  packages/ui/tansaction-history/style.ts
  packages/ui/tansaction-history/transactionPage.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore: reference ids to the user schema, previously from auth
  apps/api/src/cart/cart.controller.ts
  apps/api/src/cart/cart.module.ts
  apps/api/src/cart/cart.service.ts
  apps/api/src/order/order.service.ts
  apps/api/src/users/users.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore: ID to Id to reference backend
  apps/web/src/views/cart/types/index.ts
Due: pnpm lint-stage-fe

chore: checkout api impl
  apps/web/src/views/RootView.tsx
  apps/web/src/views/checkout/api/createOrder.ts
  apps/web/src/views/checkout/api/index.ts
  apps/web/src/views/checkout/index.ts
  apps/web/src/views/checkout/pages/CheckoutView.tsx
  apps/web/src/views/checkout/pages/index.ts
  apps/web/src/views/checkout/pages/styles.ts
  apps/web/src/views/checkout/types/index.ts
  packages/ui/Card/AddressCard.tsx
  packages/ui/Card/OrderSummary.tsx
  packages/ui/Card/PaymentDetails.tsx
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix: remove Id props
  apps/web/src/views/checkout/pages/CheckoutView.tsx
  apps/web/src/views/user/api/getUser.ts
Due: pnpm lint-stage-fe

feat(frontend): register merchant API implementation
  apps/web/src/components/auth/RegisterForm.tsx
  apps/web/src/lib/auth.ts
  apps/web/src/views/auth/api/register.ts
Due: pnpm lint-stage-fe

chore(frontend): add OrderRating component for Delivered Transactions tab
  packages/ui/tansaction-history/OrderRating.tsx
  packages/ui/tansaction-history/transactionPage.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore(frontend): add CSS styling to buttons
  packages/ui/tansaction-history/style.ts
Due: pnpm run format, pnpm lint-stage-ui

chore(frontend): render TransactionHistory page to SampleView for testing
  apps/web/src/views/SampleView.tsx
Due: pnpm lint-stage-fe

chore: corrected casing and naming for UI components, fix imports for app module
  apps/api/src/app.module.ts
  packages/ui/transaction-history/Order.tsx
  packages/ui/transaction-history/Transaction.tsx
  packages/ui/transaction-history/sampledata.ts
  packages/ui/transaction-history/style.ts
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-ui

chore(backend): remove computation in cart.service
  apps/api/src/cart/cart.service.ts
  apps/api/src/utils/cart-computation.utils.ts
Due: pnpm run format, pnpm lint-stage-be

fix: change stored, validated and compared IDs
  apps/api/src/merchants/merchants.service.ts
  apps/api/src/order/order.module.ts
  apps/api/src/order/order.service.ts
  apps/api/src/order/schemas/order.schema.ts
  apps/api/src/products/products.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore: impl orders, user transaction history
  apps/web/src/views/RootView.tsx
  apps/web/src/views/cart/pages/CartView.tsx
  apps/web/src/views/checkout/pages/CheckoutView.tsx
  apps/web/src/views/user-transaction/api/getAllOrders.ts
  apps/web/src/views/user-transaction/api/index.ts
  apps/web/src/views/user-transaction/index.ts
  apps/web/src/views/user-transaction/pages/UserTransactionsView.tsx
  apps/web/src/views/user-transaction/pages/index.ts
  apps/web/src/views/user-transaction/types/index.ts
  packages/ui/nav/Header.tsx
  packages/ui/transaction-history/Order.tsx
  packages/ui/transaction-history/Transaction.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore: filter orders sample for delivered, conditionally rendered button for rating
  packages/ui/transaction-history/Order.tsx
  packages/ui/transaction-history/OrderTableHead.tsx
  packages/ui/transaction-history/Transaction.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore: dynamic status in order history, correctly format prices
  packages/ui/Card/OrderSummary.tsx
  packages/ui/Card/PaymentDetails.tsx
  packages/ui/transaction-history/Order.tsx
Due: pnpm run format, pnpm lint-stage-ui

fix: map correct id
  apps/web/src/views/products/pages/ProductDetailView.tsx
Due: pnpm lint-stage-fe

fix(backend): fix error getAllDeliveredOrders and createRating in develop
  apps/api/src/order/order.controller.ts
  apps/api/src/order/order.service.ts
  apps/api/src/rating/rating.controller.ts
  apps/api/src/rating/rating.module.ts
  apps/api/src/rating/rating.service.ts
Due: pnpm run format, pnpm lint-stage-be

feat: integrate RatingModal to Order component
  packages/ui/transaction-history/Order.tsx
Due: pnpm run format, pnpm lint-stage-ui

Attempt to build docker image of the backend
  .dockerignore
  apps/api/.dockerignore
  apps/api/Dockerfile
  apps/api/Dockerfile.dev
  docker-compose.yaml
Due: none

feat: integrate product info render to Rating Modal
  packages/ui/transaction-history/Order.tsx
Due: pnpm run format, pnpm lint-stage-ui

wip: rating API integration
  apps/web/src/views/rating/api/createRating.ts
  apps/web/src/views/rating/api/index.ts
  apps/web/src/views/rating/index.ts
  apps/web/src/views/rating/types/index.ts
  apps/web/src/views/user-transaction/pages/UserTransactionsView.tsx
  packages/ui/rating/rating-modal/RatingModal.tsx
  packages/ui/transaction-history/Order.tsx
  packages/ui/transaction-history/Transaction.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore: implement create rating with description and rating value
  apps/web/src/views/rating/api/createRating.ts
  apps/web/src/views/rating/types/index.ts
  apps/web/src/views/user-transaction/pages/UserTransactionsView.tsx
  packages/ui/rating/rating-modal/RatingModal.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore: implement create product rating API
  apps/web/src/views/user-transaction/pages/UserTransactionsView.tsx
  packages/ui/rating/rating-modal/RatingModal.tsx
  packages/ui/rating/rating-modal/styles.ts
  packages/ui/transaction-history/Order.tsx
  packages/ui/transaction-history/Transaction.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore: implement close modal upon rating submission
  packages/ui/rating/rating-modal/RatingModal.tsx
  packages/ui/transaction-history/Order.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore: remove flag and modify createRating API
  apps/api/src/rating/rating.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore: remove closing of modal upon rating submission
  packages/ui/rating/rating-modal/RatingModal.tsx
  packages/ui/transaction-history/Order.tsx
Due: pnpm run format, pnpm lint-stage-ui

wip: user update auth
  apps/api/src/users/users.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix(fe): validation
  apps/api/src/app.module.ts
  apps/api/src/merchants/dto/create-merchant.dto.ts
  apps/api/src/users/dto/create-user.dto.ts
  apps/web/src/components/auth/RegisterForm.tsx
  apps/web/src/views/auth/api/register.ts
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe

fix(backend): fix findOrder and cancelOrder validations
  apps/api/src/order/order.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add not found validation to findOrder
  apps/api/src/order/order.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add orderId to Rating Schema and DTO
  apps/api/src/rating/dto/create-rating.dto.ts
  apps/api/src/rating/schemas/rating.schema.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): fix create rating API
  apps/api/src/rating/rating.controller.ts
  apps/api/src/rating/rating.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore: remove userId to return object of create rating
  apps/api/src/rating/rating.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore: remove comments
  apps/api/src/order/order.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix(frontend): consumer registration
  apps/web/src/components/auth/RegisterForm.tsx
Due: pnpm lint-stage-fe

Path conditions:
  pnpm run format: (any of: apps/api/**/*.{js,ts,tsx}) or (any of: packages/ui/**/*.{js,ts,tsx})
  pnpm lint-stage-be: any of: apps/api/**/*.{js,ts,tsx}
  pnpm lint-stage-fe: any of: apps/web/**/*.{js,ts,tsx}
  pnpm lint-stage-ui: any of: packages/ui/**/*.{js,ts,tsx}
