Repository TreshAnn/POC-EyCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe, pnpm lint-stage-ui

.lintstagedrc:

{
  "apps/api/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-be"],
  "apps/web/**/*.{js,ts,tsx}": ["pnpm lint-stage-fe"],
  "packages/ui/**/*.{js,ts,tsx}": ["pnpm run format", "pnpm lint-stage-ui"]
}

fix(backend); add user ID validation
  apps/api/src/order/order.controller.ts
  apps/api/src/order/order.service.ts
Due: pnpm run format, pnpm lint-stage-be

feat: Added Read Order in Auth Guard
  apps/api/src/auth/ability/ability.factory.ts
Due: pnpm run format, pnpm lint-stage-be

feat: Auth Gaurd Implementation
  apps/api/src/order/order.controller.ts
  apps/api/src/order/order.module.ts
Due: pnpm run format, pnpm lint-stage-be

chore: request change applied
  apps/api/src/order/order.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix: handle negative input
  packages/ui/product/ProductModal.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore: modify min and max rating DTO validation message
  apps/api/src/rating/dto/create-rating.dto.ts
Due: pnpm run format, pnpm lint-stage-be

Change connection string for db atlas
  apps/api/src/app.module.ts
Due: pnpm run format, pnpm lint-stage-be

fix: prevent arrowdown after value is zero
  packages/ui/product/ProductModal.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore: reverted to using id parameter
  apps/api/src/order/order.controller.ts
  apps/api/src/order/order.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore: modify controller name and URL to avoid redundancy
  apps/api/src/rating/rating.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore: add custom isValidRating validation for Rating
  apps/api/src/rating/dto/create-rating.dto.ts
  apps/api/src/utils/custom-validations.utils.ts
Due: pnpm run format, pnpm lint-stage-be

feat(backend): update rating
  apps/api/src/rating/dto/update-rating.dto.ts
  apps/api/src/rating/rating.controller.ts
  apps/api/src/rating/rating.service.ts
  apps/api/src/rating/schemas/rating.schema.ts
Due: pnpm run format, pnpm lint-stage-be

Update apps/api/src/rating/dto/create-rating.dto.ts
  apps/api/src/rating/dto/create-rating.dto.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): remove duplicate functions from Read Order API PR
  apps/api/src/order/order.controller.ts
  apps/api/src/order/order.service.ts
Due: pnpm run format, pnpm lint-stage-be

fix: user controller multiple import
  apps/api/src/users/users.controller.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): modify findOrder API
  apps/api/src/auth/ability/ability.factory.ts
  apps/api/src/order/order.controller.ts
  apps/api/src/order/order.service.ts
  apps/web/src/components/user/UpdateForm.tsx
Due: pnpm run format, pnpm lint-stage-be, pnpm lint-stage-fe

chore(backend): utilize userId from the request payload instead of extracting again from token
  apps/api/src/rating/rating.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): modify getUserRatings request URL
  apps/api/src/rating/rating.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): remove unused import
  apps/api/src/rating/rating.service.ts
Due: pnpm run format, pnpm lint-stage-be

implement moment.tz for timezone
  apps/api/package.json
  apps/api/src/rating/rating.service.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm lint-stage-be

fix: remove duplicate imports
  apps/api/src/auth/ability/ability.factory.ts
  apps/api/src/order/order.controller.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): remove unused functions and modify findUser API
  apps/api/src/users/users.controller.ts
  apps/api/src/users/users.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): add timestamp in orderschema
  apps/api/src/order/dto/create-order.dto.ts
  apps/api/src/order/schemas/order.schema.ts
Due: pnpm run format, pnpm lint-stage-be

feat(backend): Implement multiple seller checkout feature
  apps/api/src/order/order.controller.ts
  apps/api/src/order/order.module.ts
  apps/api/src/order/order.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): Add day.js library for date and time handling in the backend
  apps/api/package.json
Due: none

chore(backend): add getProductRatings API service and URL endpoint controller
  apps/api/src/rating/rating.controller.ts
  apps/api/src/rating/rating.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): modify order userId property return value
  apps/api/src/order/order.service.ts
Due: pnpm run format, pnpm lint-stage-be

chore(backend): remove dayjs
  apps/api/package.json
Due: none

REMOVED MOMENT-TIMEZON
  apps/api/src/rating/rating.service.ts
  apps/api/src/users/users.controller.ts
Due: pnpm run format, pnpm lint-stage-be

fix(backend): modify cart table add comma
  packages/ui/cart/CartTable.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore: reusable single star logo for rating
  packages/ui/rating/StarSVG.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore: rating modal
  apps/web/src/views/SampleView.tsx
  packages/ui/rating/StarRating.tsx
  packages/ui/rating/rating-modal/RatingModal.tsx
  packages/ui/rating/rating-modal/styles.ts
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

fix: remove border radius conflicting with text blur on scroll
  packages/ui/rating/rating-modal/RatingModal.tsx
  packages/ui/rating/rating-modal/styles.ts
Due: pnpm run format, pnpm lint-stage-ui

chore: fix error on Cast to ObjectId error on getAllDelivered orders
  apps/api/src/order/order.controller.ts
Due: pnpm run format, pnpm lint-stage-be

chore: fix error on create rating validation of productId
  apps/api/src/rating/rating.service.ts
Due: pnpm run format, pnpm lint-stage-be

wip(frontend): user transaction page
  apps/web/src/views/SampleView.tsx
  packages/ui/tansaction-history/sampledata.ts
  packages/ui/tansaction-history/style.ts
  packages/ui/tansaction-history/transactionPage.tsx
Due: pnpm run format, pnpm lint-stage-fe, pnpm lint-stage-ui

chore(frontend): modify searchbar component
  packages/ui/tansaction-history/transactionPage.tsx
Due: pnpm run format, pnpm lint-stage-ui

chore: removed test component
  apps/web/src/views/SampleView.tsx
Due: pnpm lint-stage-fe

chore: remove moment
  apps/api/package.json
Due: none

chore(backend): delete moment
  pnpm-lock.yaml
Due: none
